.item {
  background-image: linear-gradient(to right, #00c758e6, #05df7280), url(/assets/home-slider.png);
  background-size: cover;
  background-position: center;
}
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: #fff;
  width: 14px;
  height: 14px;
  padding: 16px;
  color: var(--color-primary);
  border-radius: 50%;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.354);
}
swiper-container::part(bullet) {
  background-color: #fff;
  width: 16px;
  height: 16px;
}
swiper-container::part(bullet-active) {
  background-color: #fff;
  width: 40px;
  height: 16px;
  transition: all 1s;
  border-radius: 10px;
}
