<section>
  <swiper-container
    class="mySwiper"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    autoplay="true"
  >
    <!-- slide 1 -->
    <swiper-slide>
      <div class="h-100 flex items-center item">
        <div class="w-full px-20 text-white space-y-4">
          <h2 class="text-3xl">Fresh Products Delivered <br />to your Door</h2>
          <p>Get 20% off your first order</p>
          <button class="bg-white text-primary px-10 py-3 rounded cursor-pointer">Shop Now</button>
        </div>
      </div>
    </swiper-slide>
    <!-- slide 2 -->
    <swiper-slide>
      <div class="h-100 flex items-center item">
        <div class="w-full px-20 text-white space-y-4">
          <h2 class="text-3xl">Fresh Products Delivered <br />to your Door</h2>
          <p>Get 20% off your first order</p>
          <button class="bg-white text-primary px-10 py-3 rounded cursor-pointer">Shop Now</button>
        </div>
      </div>
    </swiper-slide>
    <!-- slide 3 -->
    <swiper-slide>
      <div class="h-100 flex items-center item">
        <div class="w-full px-20 text-white space-y-4">
          <h2 class="text-3xl">Fresh Products Delivered <br />to your Door</h2>
          <p>Get 20% off your first order</p>
          <button class="bg-white text-primary px-10 py-3 rounded cursor-pointer">Shop Now</button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
